
        <form action="/signin" method="post">
            <label for="Username">Name: </label><br>
            <input type="text"  name="name" required autofocus>
            <br>
            <label for="email">Email: </label><br>
            <input type="email" name="email" id="email" required>
            <br>
            <label for="birthDate">Date of birth: </label><br>
            <input type="date" name="birthdate" id="birthdate" required>
            <br>
            <label for="password">Password: </label><br>
            <input type="password" name="password" id="password" required>
            <br>
            <label for="password">Rewrite Password: </label><br>
            <input type="password" required>
            <br>
            <div id="signup">
            <input class="btn" type="submit" value="SIGNUP">
           
           </div> 
           <br>
            <a href="/login" class="changePage">LOGIN </a>
        </form>